#Delphi
*.dsk
*.~*
*.ddp
*.dcu

#POEdit
*.mo
*.po.old*

#Otros
*.bak
*.cfg
*.log
*.*~
*.dof

CLAUDE.local.md

_Limpia.bat
lang/_Copiar_a_merge.po.bat
lang/traducir_1_Crea_Template.bat
lang/traducir_2_Merge_Idiomas.bat
lang/traducir_3_Abrir_Idiomas.bat
lang/traducir_todo_junto.bat